@import 'tailwindcss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 14;
	transition: 0.3s ease all;
}

html {
	padding-inline: 1rem;
	padding-top: 1rem;
	width: 100%;
	height: 100%;
	min-height: 100vh;
}
body {
	width: inherit;
	height: inherit;
}

.button {
	@apply px-6 py-4 font-medium rounded-md
	 hover:bg-blue-700 hover:text-white;
}

.h-screen {
	/* height: calc(100vh - 5rem);
	max-height: calc(100vh - 5rem);
	min-height: calc(100vh - 5rem); */
}
