@import 'tailwindcss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 14;
	transition: 0.3s ease all;
}

html {
	padding-inline: 1rem;
	padding-top: 1rem;
	width: 100%;
	height: 100%;
	min-height: 100vh;
}
body {
	width: inherit;
	height: inherit;
}

.button,
button,
[type='button'] {
	@apply px-6 py-4 font-medium rounded-md
	 hover:bg-blue-700 hover:text-white hover:cursor-pointer;
}
form input {
	@apply px-4 py-3 mt-1 block w-full border 
	border-gray-300 rounded-md focus:ring-blue-500;
}

form label {
	@apply block text-sm font-medium text-gray-700;
}

h1 {
	@apply text-2xl;
}
